body {
    min-width: 1200px;
}
.box {
    width:100%;
    height: 856px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
li {
    list-style: none
}
.header {
    position: relative;
    z-index: 9;
    top:0;
    left:0;
    width:100%;
    background-color: #1a2613;
    background-image: url("../img/VIP/banner_thumb_1.jpg") ;
    background-size: cover;
    height: 856px;
}
.box-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -50px;
    height: 300px;
}
.box-text1 {
    height: 100px;
    margin-bottom: 15px;
}
.box-text2 {
    height: 30px;
    margin-bottom: 15px;
    position: relative;
}
.show1, .show2 {
    display: block;
    background-image: url("../img/VIP/sprite_index_banner.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
}
.show1 {
    background-position: 0 0;
    height: 100px;
}
.show2 {
    background-position: 0 -300px;
    height: 30px;
    transition-delay: .1s;
}
.show3 {
    transition-delay: .2s;
}
.show1, .show2, .show3 {
    opacity: 0;
    transform: translate(0,60px);
    transition: all .6s;
}
.box-content a {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 64px;
    background-color: #31c27c;
    border-radius: 32px;
    margin: 25px auto;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
}
.container {
    height: 855px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.navbar {
    height: 80px;
    z-index: 850;
    background-color: #1a2613;
}
.logo {
    float: left;
}
.mod_nav {
    float: left;
    height: 80px;
    font-size: 18px;
}
.mask {
   position: absolute;
   top:80px;
   left: 0;
   width: 100%;
   height: 0;
   background-color: pink;
   line-height: 45px;
   overflow: hidden;
   background-color:rgba(0,0,0,.1);
   transition: all .3s;
}
.mod_nav ul .css:hover .mask {
    height: 45px;
}
/* .mask li {
    padding: 0 10px;
} */
.mask a {
    float: left;
    *display: inline;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding-bottom: 3px;
    margin-left: 10px;
    color: #fff;
}
.mask .mask-box a:hover {
    border-bottom: 2px solid greenyellow;
    color: #fff;
}
.mask-box {
    position: absolute;
    top:0;
    left: 275px;
}
.mod_nav ul {
    float: left;
    height: 80px;
    font-size: 18px;  
}
.mod_nav ul li {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 32px;
}
.mod_nav ul li .green {
    color:#42a41b ;
}
.mod_nav ul li a {
    text-decoration: none;
    color:#f6f6f6;
}
.mod_nav ul li a:hover {
    color: #42a41b;
}
.right_nav{
    float:right;
    font-size: 12px;
    height: 80px;
    line-height: 80px;
}
.right_nav p a {
    color: #42a41b;
    text-decoration: none;
}
.right_nav p a:hover {
    text-decoration: underline;
}
.banner-show-nav {
    position: relative;
    bottom: 140px;
    left: 0;
    width: 100%;
    height: 140px;
    background-color:rgba(0,0,0,.1);
    z-index: 10;
}
.banner-show-nav a {
    width: 300px;
    height: 140px;
    position: absolute;
    display: contents;
}
.banner-show-nav a .spen1 {
    display: block;
    width: 300px;
    height: 100px;
    background-image: url("../img/VIP/sprite_index_banner.png");
    background-position:-810px 15px ;
}
.banner-show-nav a .spen2 {
    display: block;
    width: 300px;
    height: 100px;
    background-image: url("../img/VIP/sprite_index_banner.png");
    background-position:-810px -82px ;
    opacity: .2;
}
.banner-show-nav a .spen2:hover {
    opacity: 0.5;
}
.banner-show-nav a .spen3 {
    display: block;
    width: 300px;
    height: 100px;
    background-image: url("../img/VIP/sprite_index_banner.png");
    background-position:-844px -185px ;
    opacity:.2;
}
.banner-show-nav a .spen3:hover {
    opacity: .5;
}
.seaction-mod {
    width: 100%;
    height: 980px;
}
.mod-bg {
    height: 740px;
    width: 100%;
}
.next {
    position: fixed;
    z-index: 100;
    right: 2.5%;
    top: 50%;
    width: 44px;
    height: 412px;
    margin-top: -206px;
}
.next ul {
    width: 44px;
    height: 272px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: 0 -244px;
}
.next ul li {
    display: block;
    padding: 12px 7px;
}
.next ul li:nth-child(1) a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -274px -192px;
}
.next ul li:nth-child(1) a:hover .qq{
    opacity: 1;
}
.next ul li:nth-child(2) a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -46px -244px;
}
.next ul li:nth-child(3) a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -78px -244px;
}
.next ul li:nth-child(4) a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -110px -244px;
}
.next ul li:nth-child(5) a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -142px -244px;
}
.next ul li:nth-child(1) a .qq {
    position: absolute;
    right: 42px;
    top: -85px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 160px;
    height: 243px;
    opacity: 0;
    padding-right: 7px;
    padding-top: 10px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: 0 0;
}
.next ul li:nth-child(1) a .qq img {
    display: block;
    width: 132px;
    height: 132px;
    margin: 8px auto 8px;
}
.next ul li:nth-child(1) a .qq p {
    color: #fff45c;
    font-size: 16px;
    line-height: 1.4;
}
.next ul li:nth-child(1) a .qq span {
    color: #fff;
    font-size: 22px; 
}
.next ul li:nth-child(2) a:hover .wx {
    opacity: 1;
}
.next ul li:nth-child(2) a .wx {
    position: absolute;
    right: 42px;
    top: -85px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 160px;
    height: 243px;
    opacity: 0;
    padding-right: 7px;
    padding-top: 10px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: 0 0;
}
.next ul li:nth-child(2) a .wx img {
    display: block;
    width: 132px;
    height: 132px;
    margin: 8px auto 8px;
}
.next ul li:nth-child(2) a .wx p {
    color: #fff45c;
    font-size: 16px;
    line-height: 1.4;
}
.next ul li:nth-child(2) a .wx span {
    color: #fff;
    font-size: 22px; 
}
.next ul li:nth-child(3) a .bul {
    position: absolute;
    right: 42px;
    top: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 102px;
    height: 38px;
    opacity: 0;
    padding-right: 7px;
    padding-top: 10px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -162px -192px;
}
.next ul li:nth-child(3) a:hover .bul {
    opacity: 1;
}
.next ul li:nth-child(4) a .duih {
    position: absolute;
    right: 42px;
    top: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 102px;
    height: 38px;
    opacity: 0;
    padding-right: 7px;
    padding-top: 10px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -162px -192px;
}
.next ul li:nth-child(4) a:hover .duih{
    opacity: 1;
}
.next ul li:nth-child(5) a .kf {
    position: absolute;
    right: 42px;
    top: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 102px;
    height: 38px;
    opacity: 0;
    padding-right: 7px;
    padding-top: 10px;
    background-image: url("../img/VIP/tool_bar.png");
    background-position: -162px -192px;
}
.next ul li:nth-child(5) a:hover .kf{
    opacity: 1;
}
.banner-show-nav .container {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}