.btn-box {
    display: flex;
    padding: 0 .2rem;
    justify-content: space-around;
    margin-bottom: .3rem;
}
.btn i {
    font-size: .45rem;
    color: rgb(34,213,157);
}
.btn span {
    display: flex;
    justify-content: center;
}
.btn .icon-fenlei {
    font-size: .4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: .08rem;
}
.item-box .text {
    font-size: .18rem;
}