@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2020-08-13 18:49:59
 * @version $Id$
 */
*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
a{
    text-decoration: none;
}
body{
    background-color:rgb(250,250,250);
    font-family: -apple-system, sans-serif;
}
header.header {
    right: 0;
    left: 0;
    height: 0.5rem;
    top: 0;
    margin: 0.1rem 0;
    position: fixed;
    padding: 0rem 0.2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.header_left h2{
    font-size: 0.24rem;
    position: relative;
}
.header_left h2::after{
    content: "";
    border-radius: 0.1rem;
    left: -1%;
    bottom: -26%;
    background-color: rgb(34,213,157);
    width: 0.5rem;
    position: absolute;
    height: 0.04rem;
}
.header_right span{
    position: relative;
    padding: 0 0.1rem;
    font-size: 0.26rem;
    color: #737373;
}
.header_right > a{
    display: contents;
}
.red_dot::after{
    content: "";
    width: 0.08rem;
    position: absolute;
    height: 0.08rem;
    border-radius: 50%;
    background-color: #f40;
    top: 1%;
    right: 18%;
}
.header_right {
    display: flex;
}
.search_frame {
    border-radius: 0.1rem;
    padding: 0.1rem;
    width: 90%;
    display: flex;
    justify-content: end;
    height: 100%;
    margin: 0 auto;
    font-size: 0.15rem;
    margin-top: 0.8rem;
    background-color: #fff;
}
.search_frame > a{
    color: #989898;
}
.coco{
    padding:0 0.1rem;
    font-size: 0.18rem;
}
.person_message {
    border-radius:0.1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.4rem;
    background-color: #fff;
    flex-direction: column;
    font-size: 0.2rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
}
.person_Name {
    width: 100%;
    justify-content: center;
    position: relative;
    display: flex;
    align-items:center;
    margin-bottom: 0.3rem;
    height: 0.5rem;
}
.person_Name a:not(.portrait){
    padding:0 0.1rem;
    display: flex;
    align-items: center;
}
.portrait{
    position: relative;
    height: 0.8rem;
    background-image: url(../img/my_page/Cache_-5110fd6ae75483c4..jpg);
    width: 0.8rem;
    background-size: contain;
    border-radius: 50%;
}
span.penguin{
    position: absolute;
    bottom: 0px;
    right: 9%;
    font-size: 0.16rem;
    color: #42a3e8;
}
.username{
    padding-right: 0.05rem;
    font-weight: 500;
    font-size: 0.2rem;
    display: inline;
}
span.person_level {
    width: 0.4rem;
    position: relative;
    color: #fff;
    display: inline-block;
    background-color: #fb96008c;
    font-size: 0.12rem;
    font-weight: 400;
    text-align: center;
    border-radius: 0.1rem;
    padding-left: 0.05rem;
    height: 0.18rem;
}
span.iconfont.record {
     z-index: 10;
    position: absolute;
    top: -15%;
    left: -20%;
    font-size: 0.21rem;
    color: #ff7905;
}
span.iconfont.vip {
    font-size: 0.24rem;
    vertical-align: sub;
}
.person_concerns {
    color: #d4d2d2;
    font-size: 0.16rem;
}
.Concerns, .fans, .new_remind{
    color: black;
    font-weight: 300;
    position: relative;
}
.Concerns::after ,.fans::after{
    position: absolute;
    content: "|";
    color: #e2e2e2;
    right: -50%;
}
.person_concerns {
    display: flex;
    color: #d4d2d2;
    font-size: 0.16rem;
    justify-content: space-around;
    width: 100%;
}
.new_remind > span{
    padding-left:0.1rem;
    color: #b8b3b3;
}
.middle_area {
    border-radius:0.1rem;
    padding: 0.2rem 0;
    display: flex;
    font-size: 0.16rem;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 0.23rem;
    justify-content: space-around;
}
.activity_center,.vip_center {
    display: flex;
    align-items: center;
    flex-grow:1;
    justify-content: space-evenly;
}
.red_box{
    position: relative;
}
.middle_area > div > a > span{
    font-size: 0.3rem !important;
    color: #dadada;
}
.middle_area p{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 0.65rem;
    font-size: 0.12rem;
    overflow: hidden;
}
p.Center1 {
    font-size: 0.15rem;
}
.dot_sp::after{
    top: -11%;
    right: -15%;
}
.green_btn span{
    font-size: 0.14rem;
}
.green_btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0.16rem auto;
}
.like_btn, .local_btn, .songlist_btn, .purchase_btn{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.green_btn > div >a{
    display: flex;
    flex-direction: column;
    align-items:center;
}
span.iconfont.btn_function {
    color: rgb(34,213,157);
    font-size: 0.25rem;
    margin-bottom: 0.06rem;
}
span.song_number {
    font-size: 0.12rem;
    color: #9c9c9c;
    padding-top: 0.06rem;
}
span.sp_ic_bendi{
    font-size: 0.34rem !important;
}
span.iconfont.btn_function.sp_ic{
    border-radius: 0.07rem;
    color: #fff;
    background-color: rgb(34,213,157);
}
span.iconfont.btn_function.sp_ic_buy{
    border-radius:50%;
}





.main {
    display:block;
    position: relative;
}
.main-text {
    font-size: 0.25rem;
    margin: 0 0 .1rem .3rem;
}
.song {
    margin: 0 .25rem .5rem .25rem;
    white-space: nowrap;
    display: inline-flex;
}
.icon-play {
    display: inline-block;
    width: .12rem;
    height: .12rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/song/play.png");
}
.item-box {
    width: 2.1rem;
    margin: 0 0.05rem;
}
.song-pic {
    position: relative;
    height: 2.1rem;
}
.songlist-3 .item-box {
    width: 4.5rem;
}
.songlist-3 .song-pic {
    height: 2.5rem;
}
.song-pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .12rem;
}
.song-pic .count {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .15rem;
    color: #fff;
    padding: 0 .12rem;
    background: rgba(0,0,0,.4);
    border-radius: .12rem;
}
.item-box .text {
    font-size: .12rem;
    margin-top: .12rem;
    white-space: normal;
}
.songlist-box {
    overflow-x: scroll;
}
li.song-item {
    display: inline-flex;
}
.songlist-3 .song-pic .count {
    position: absolute;
    left: .12rem;
    bottom: .12rem;
    font-size: .4rem;
    color: #fff;
    background: none;
    padding: 0 .12rem;
}
::-webkit-scrollbar {
    display: none;
}