.header_box {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
    justify-content: space-between;
}
.header a {
    display: inline-block;
    margin-right: .3rem;
    font-size: .21rem;
}
.header a:last-child {
    display: inline-block;
    margin-right: 0;
    font-size: .21rem;
}
.top-pic img {
    height: 2.77rem;
}
.top-pic {
    margin: .2rem .2rem .1rem;
}
.top-box {
    position: relative;
    width: 4.89rem;
}
.top-pic .count {
    position: absolute;
    right: .2rem;
    bottom: .26rem;
    background: rgb(143,162,179);
    padding: 0 .1rem;
    height: .4rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
}
.video-main {
    margin: 0 .2rem;
}
.video {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}
.video-pic {
    position: relative;
    height: 2.34rem;
    width: 2.34rem;
}
.video div:first-child {
    margin-right: .2rem;
}
.video-pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .12rem;
}
.video-pic .count {
    position: absolute;
    left: .1rem;
    font-size: .15rem;
    top: .96rem;
    color: #ffffff;
    padding: 0 .16rem;
    background: rgba(0,0,0,.2);
    border: .01rem solid #ffffff;
    border-radius: .3rem;
    height: .3rem;
    display: flex;
    align-items: center;
    line-height: .1rem;
    box-sizing: border-box;
}
.video-pic .time {
    position: absolute;
    display: flex;
    right: .1rem;
    top: 1rem;
    font-size: .18rem;
    font-weight: 500;
    color: #fff;
}
.text-box {
    position: absolute;
    bottom: 0;
    height: .9rem;
    width: 2.14rem;
    padding: .1rem .1rem 0 .1rem;
    background: #fff;
    border-bottom-left-radius: .12rem;
    border-bottom-right-radius: .12rem;
    font-size: .18rem;
}
.text-box .info {
    display: inline-flex;
    position: absolute;
    left: .1rem;
    bottom: .1rem;

    justify-content: center;
    border-radius: .05rem;
    align-items: center;
    color: gray;
}
.text-box .info.green {
    width: .8rem;
    background: azure;
    color: rgb(34,213,157);
}
.text-box .iconfont {
    font-size: .2rem;
    position: absolute;
    right: .1rem;
    bottom: .1rem;
    color: gray;
}


