.menu{
    position: absolute;
    width: 1530px;
    height: 80px;
    top: 0px;
    left: 0px;
    display: inline-block;
    background-color: #000;
    z-index: 3;
    background: rgba(0,0,0,.3); 
}
.logo{
    position: absolute;
    left: 3px;
    top: 0px;
}
.menu_content{
    position: absolute;
    left: 260px;
    top: 17px;
    width: 996px;
    height: 46px;
    display: inline-block;
    color:#FFF; 
}
.menu_nav{
    position: absolute;
    width: 280px;
    height: 46px;
    left: 240px;
    font-size: 20px;
    color: #31c27c;
    display: inline-block;
    line-height: 46px;
    text-align: left;
}
.don{
    margin-left: 65px;
    color: #FFF;
}
.pro {
    text-align: right;
    line-height: 46px;
    font-size: 20px;
}
.pro a{
    padding-right: 20px;
} 
.biggest{
    position: absolute;
    width: 1536px;
    height: 790px;
    left: 0;
    top: 0;
    background-image: url(../img/banner_pc.jpg);
}
.hide{
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99em;
    display: block;
}
.download_list{
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1530px;
    height: 190px;
    text-align: center;
}
.download_list__item--current{
    opacity: 1;
}
.download_list__item--pc{
    background-image: url(../img/img_index_6bc275f9.png);
    background-position: -399px --940px;
}
.download_list__item{
    display: inline-block;
    width: 110px;
    height: 170px;
}