html {
    font-size: 100px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-weight: 300;
    font-stretch: normal;
    font-size: .12rem;
    line-height: 1.5;
    font-family: -apple-system, sans-serif;
    background-color: #fafafa;
}

















